<nav class="navbar navbar-default navbar-static-top">
    <div class="Left_Icon"><a href="#/user/{{model.uid}}/website"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a></div>
    <h3>Edit Website</h3>
    <div class="Check_Icon"><a ng-click="model.updateWebsite(model.name, model.comment)"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a></div>
</nav>


<div class="container">
    <form method="post"
          action="/path/to/form/service">

        <fieldset class="form-group">

            <div class="form-group">
                <label for="name">Application Name</label>
                <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="form-group">
                <label for="comment">Application Description</label>
                <textarea ng-model="model.comment" class="form-control" rows="5" placeholder="Description" id="comment"></textarea>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <a ng-click="model.deleteWebsite()" class="btn btn-block btn-danger" role="button">Delete</a>
        </fieldset>
    </form>
</div>

<footer class="footer">
    <a href="#/user/{{model.uid}}"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
</footer>