<nav class="navbar navbar-default navbar-static-top">
    <div class="Left_Icon"><a href="#/user/{{model.uid}}/website/{{model.websiteId}}/page"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a></div>
    <h3>Edit Page</h3>
    <div class="Check_Icon"><a ng-click="model.updatePage()"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a></div>
</nav>


<div class="container">
    <div ng-if="model.error" class="alert alert-danger">{{model.error}}</div>
    <form method="post"
          action="/path/to/form/service">

        <fieldset class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">
                <label for="title">Title</label>
                <input ng-model="model.title" type="text" class="form-control" id="title" placeholder="Title" >
            </div>
        </fieldset>
        <fieldset class="form-group">
            <a ng-click="model.deletePage()" class="btn btn-block btn-danger" role="button">Delete</a>
        </fieldset>
    </form>
</div>

<footer class="footer">
    <a href="#/user/{{model.uid}}"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
</footer>