<nav class="navbar navbar-default navbar-static-top">
    <div class="Left_Icon"><a href="widget-list.html"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a></div>
    <h3>Widget Edit</h3>
    <div class="Check_Icon"><a href="widget-list.html"><i class="fa fa-check fa-2x" aria-hidden="true"></i></a></div>
</nav>


<div class="container">
    <form method="post"
          action="/path/to/form/service">

        <fieldset class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">
                <label for="text">Text</label>
                <input type="text" class="form-control" id="text" placeholder="Text">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group">
                <label for="sel1">Size</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <a href="widget-list.html" class="btn btn-block btn-danger" role="button">Delete</a>
        </fieldset>
    </form>
</div>

<footer class="footer">
    <a href="../user/profile.html"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
</footer>