.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    text-align: right;
    padding: 10px;
    padding-right: 5%;
    border-width: 0 0 1px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

form {
    padding: 5%;
}

td {
    background-color: white;
}


.navbar-static-top {
    height: auto;
    color: dimgray;
    padding-left: 5%;
    padding-top: 7px;
    padding-bottom: 3px;
}

h3 {
    display:inline-block;
}

.Check_Icon {
    display:inline-block;
    float: right;
    padding-top: 18px;
    padding-right: 5%;
    padding-bottom: 3px;
    color: black;
}

.container {
    padding: 2%;
}