<nav class="navbar navbar-default navbar-static-top">
    <h3>Hike 4000</h3>
</nav>

<div class="container">
    <table class="table table-striped">
        <fieldset class="form-group">
            <div class="form-group">
                <input ng-model="model.searchQuery" type="text" class="form-control" id="name" placeholder="Search Query">
                <a ng-click="model.search(model.searchQuery)" class="btn btn-block btn-primary" role="button">Search!</a>
            </div>
        </fieldset>
        <tbody ng-repeat="post in model.posts" ng-switch on="post.type">
        <tr ng-switch-when="HIKER">
            <td>
                <i class="fa fa-male fa-4x"></i>
                <div class="container">
                    <h2>Hiker: {{post.user}}</h2>
                </div>
                <div class="container">
                    <h3>Would like to goto <b>{{post.destination}}</b> on <b>{{post.pickupTime}}</b>, leaving from <b>{{post.pickup}}</b></h3>
                </div>

                <div class="container">
                    <h3>Details: {{post.text}}</h3>
                </div>

                <div class="container">
                    <h3 ng-show="post.participant.length > 0">People Interested:</h3>
                    <div ng-repeat="user in post.participant" ng-switch on="user">
                        <h4>{{user}}</h4>
                    </div>
                </div>


            </td>
        </tr>
        <tr ng-switch-when="DRIVER">
            <td>
                <i class="fa fa-car fa-4x"></i>

                <div class="container"></div>
                <h2>Driver: {{post.user}}</h2>

                <div class="container">
                    <h3>Is going to <b>{{post.destination}}</b> on <b>{{post.pickupTime}}</b>, leaving from <b>{{post.pickup}}</b></h3>
                </div>

                <div class="container">
                    <h3>Details: {{post.text}}</h3>
                </div>

                <div class="container">
                    <h3 ng-show="post.participant.length > 0">Car Pool:</h3>
                    <div ng-repeat="user in post.participant" ng-switch on="user">
                        <h4>{{user}}</h4>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<p></p>
<footer class="footer">
    <div class="pull-right">
        <a href="../index.html"><i class="fa fa-home fa-2x"></i></a>
    </div>
</footer>