<nav class="navbar navbar-default navbar-static-top">
    <div class="Left_Icon"><a href="#/user/{{model.uid}}/website/{{model.wid}}/page"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
    </div>
    <h3>Hiker Blog</h3>
    <div class="Check_Icon"><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></div>
</nav>


<div class="container">
    <table class="table table-striped">
        <tbody ng-repeat="widget in model.widgets" ng-switch on="widget.widgetType">
        <tr ng-switch-when="DRIVER">
        </tr>
        <tr ng-switch-when="HIKER">
        </tr>
        <tr ng-switch-when="POST">
        </tr>
        </tbody>
    </table>
</div>
<p></p>
<footer class="footer">
    <div class=" pull-left">
        <a href="#/hikes"><i class="fa fa-area-chart fa-2x" aria-hidden="true"></i></a>
        <a href="#/4000Weather"><i class="fa fa-sun-o fa-2x" aria-hidden="true"></i></a>
        <a href="#/FindCar"><i class="fa fa-car fa-2x" aria-hidden="true"></i></a>
        <a href="#/FindHiker"><i class="fa fa-male fa-2x" aria-hidden="true"></i></a>
    </div>
    <a href="#/user/{{model.uid}}"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
</footer>